:root {
  --el-color-primary: #11A1FF;
  --el-color-primary-light-3: #4BB9FF;
  /* 比主色亮 30% */
  --el-color-primary-light-5: #85D1FF;
  /* 比主色亮 50% */
  --el-color-primary-light-7: #BEE8FF;
  /* 比主色亮 70% */
  --el-color-primary-light-8: #D4EFFF;
  /* 比主色亮 80% */
  --el-color-primary-light-9: #E9F7FF;
  /* 比主色亮 90% */
  --el-color-primary-dark-2: #0E81CC;
}