#comfyui-waas-btn {
	position: fixed;
	top: 115px;
	left: 70px;
	width: 80px;
	border-radius: 40px;
	cursor: pointer;
	z-index: 999999;
	background-color: #363636;
	overflow: hidden;
	box-shadow: 0 0 10px #888;
}

#comfyui-waas-logo {
	width: 80px;
	height: 80px;
	user-select: none;
	background-image: url(./logo.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	border: 3px solid #0EA1FF;
	border-radius: 40px;
}

#comfyui-waas-dropdown {
	height: 0;
	width: 80px;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
}

.comfyui-waas-dropdown-btn {
	height: 22px;
	font-size: 12px;
	background-color: #363636 !important;
	color: #FFF !important;
	border: none;
	width: 100%;
	cursor: pointer;
}

iframe {
	border: none;
}