#comfyui-waas-btn {
	position: fixed;
	top: 155px;
	left: 80px;
	width: 80px;
	border-radius: 40px;
	cursor: pointer;
	z-index: 999999;
	background-color: #363636;
	/* overflow: hidden; */
	box-shadow: 0 0 10px #888;
}

#comfyui-waas-logo {
	position: relative;
	width: 80px;
	height: 80px;
	user-select: none;
	background-image: url(./logo.png);
	background-size: 72%;
	background-position: center;
	background-repeat: no-repeat;
	border: 3px solid #0EA1FF;
	border-radius: 40px;
}

.comfyui-waas-tip {
	position: absolute;
	left: -66px;
	top: -105px;
	width: 230px;
	padding: 28px 18px;
	font-size: 18px;
	background-color: #363636;
	box-shadow: 0 0 10px #888;
	z-index: 999999;
	color: #FFFFFF;
	border-radius: 5px;
	font-size: 12px;
}

.comfyui-waas-tip>button {
	position: absolute;
	top: 2px;
	right: 2px;
}

#comfyui-waas-dropdown {
	width: 80px;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
	border-radius: 0 0 40px 40px;
}

.comfyui-waas-dropdown-btn {
	height: 30px;
	font-size: 13px;
	background-color: #363636 !important;
	color: #FFF !important;
	width: 100%;
	cursor: pointer;
	border-bottom: 1px solid #727272;
	border-top: none;
	border-left: none;
	border-right: none;
}

.comfyui-waas-dropdown-btn:hover {
	color: #0EA1FF !important;
}

iframe {
	border: none;
}

.comfy-modal {
	z-index: 1001;
}