#comfyui-waas-btn {
	position: fixed;
	top: 115px;
	left: 70px;
	width: 80px;
	border-radius: 40px;
	cursor: pointer;
	z-index: 999999;
	background-color: #363636;
	/* overflow: hidden; */
	box-shadow: 0 0 10px #888;
}

#comfyui-waas-logo {
	position: relative;
	width: 80px;
	height: 80px;
	user-select: none;
	background-image: url(./logo.png);
	background-size: 72%;
	background-position: center;
	background-repeat: no-repeat;
	border: 3px solid #0EA1FF;
	border-radius: 40px;
}

.comfyui-waas-tip {
	position: absolute;
	left: -46px;
	top: -100px;
	width: 230px;
	padding: 28px;
	font-size: 18px;
	background-color: #363636;
	box-shadow: 0 0 10px #888;
	z-index: 999999;
	color: #FFFFFF;
	border-radius: 5px;
}

.comfyui-waas-tip>button {
	position: absolute;
	top: 8px;
	right: 8px;
}

#comfyui-waas-dropdown {
	height: 112px;
	width: 80px;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
}

.comfyui-waas-dropdown-btn {
	height: 22px;
	font-size: 12px;
	background-color: #363636 !important;
	color: #FFF !important;
	border: none;
	width: 100%;
	cursor: pointer;
}

.comfyui-waas-dropdown-btn:hover {
	color: #0EA1FF !important;
}

iframe {
	border: none;
}

.comfy-modal {
	z-index: 1001;
}